<div class="container">
    <form class = "mb-5">
        <h5 class="mt-3 mb-3">Entre em contato</h5>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Seu e-mail</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Sua mensagem</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button class="btn btn-outline-dark">Enviar</button>
    </form>
</div>
