<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-12">
            <p class="text-left">Thy life is a riddle, to bear rapture and sorrow;</p>
            <p class="text-left">To listen, to suffer, to entrust unto tomorrow.</p>
        </div>
    </div>

    <div class="row mt-5 mb-5">
        <div class="col-md-12">
            <h4 class="text-center">May thy heart be thy guiding key;</h4>
        </div>
    </div>

    <div class="parallax"></div>

    <div class="row mt-5 mb-5">
        <div class="col-md-12 d-flex justify-content-center">
            <button class="btn btn-outline-dark" routerLink="/feed">Feed sein</button>
        </div>
    </div>

</div>